*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,body{
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.bg-custom {
  background-color: #5E6A40 !important; 
} 

.social-link {
  margin-right: 20px; /* Adiciona distância entre os ícones */
  font-size: 34px; /* Ajusta o tamanho dos ícones */
}



.container{
  max-width: 1280px;
  margin: auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header{
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}

header.rolagem{
  background-color: #202C39;
  padding: 20px 4%;
}

header.rolagem a{
  color: #000000;
}

header ul{
   list-style-type: none;
}

header ul li{
  display: inline-block;
  margin: 0 40px;
} 


header ul li a{
  color: #000000;
  text-decoration: none;


}

header a{
  color: #000000;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
}

.btn-cadastro button{
  width: 120px;
  height: 40px;
  border: 0;
  background-color: #258A39;
  color: #FFF;
  cursor: pointer;
  transition: .2s;
}


.banner{
  height: 100vh;
  background-image: url(/public/img/amazonia.jpg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1{
  font-size: 4em;
  color: #FFF
}

.text_banner h2{
   font-size: 30px;
   color: #FFF;
}









.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  margin-right: 30px; 
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #000000;
  margin: 8px;
  transition: 0.3s;
  right: -60%;
  margin-right: 240px;


}
@media (max-width:10000px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 0vh;
    right: 0;
    width: 15vw;
    height: 100vh;
    background: #adc570;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
     z-index: 1;
  
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
   
    
  }
  .mobile-menu {
    display: block;
    
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}



.middle-items {
  flex-grow: 2;
  text-align: center;
  margin-right: 450px; 
  display: flex;
 
  
}

.middle-items a {
  color: rgb(0, 0, 0); /* Cor dos links */
  margin: 0 50px; /* Espaçamento entre os links */

}

